# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
assets/css/test3.css
assets/jsx/app_hold.jsx
assets/jsx/test.jsx
assets/jsx/test2.jsx
assets/jsx/test3.jsx
reduxtest.html
test.html
test3.html
assets/jsx/login-test.jsx

# Sublime Files
*.sublime-workspace

# Dependency directory
node_modules
assets/scripts/_hold/uploadForm.jsx
