@font-face {
    font-family: fancyfont;
    src: url(../fonts/SignPainter-HouseScript.ttf);
}

body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #555;
	background: #FAFAFA;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
    color: var(--white);
    font-family: var(--font-reg);
    font-style: italic;
    font-size: 80px;
    filter: var(--drop-1);
    -webkit-filter: var(--drop-1);
}

a {
	color: var(--primary);
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.spacer {
	display: block;
	padding: 10px;
}

.pad-t-sm {
    padding-top: var(--space-sm);
}
.pad-r-sm {
    padding-right: var(--space-sm);
}
.pad-b-sm {
    padding-bottom: var(--space-sm);
}
.pad-l-sm {
    padding-left: var(--space-sm);
}

.pad-t-md {
    padding-top: var(--space-md);
}
.pad-r-md {
    padding-right: var(--space-md);
}
.pad-b-md {
    padding-bottom: var(--space-md);
}
.pad-l-md {
    padding-left: var(--space-md);
}

.pad-t-lg {
    padding-top: var(--space-lg);
}
.pad-r-lg {
    padding-right: var(--space-lg);
}
.pad-b-lg {
    padding-bottom: var(--space-lg);
}
.pad-l-lg {
    padding-left: var(--space-lg);
}

.pad-box-sm {
    padding: var(--space-sm);
}
.pad-box-md {
    padding: var(--space-md);
}
.pad-box-lg {
    padding: var(--space-lg);
}

.mar-t-sm {
    margin-top: var(--space-sm);
}
.mar-r-sm {
    margin-right: var(--space-sm);
}
.mar-b-sm {
    margin-bottom: var(--space-sm);
}
.mar-l-sm {
    margin-left: var(--space-sm);
}

.mar-t-md {
    margin-top: var(--space-md);
}
.mar-r-md {
    margin-right: var(--space-md);
}
.mar-b-md {
    margin-bottom: var(--space-md);
}
.mar-l-md {
    margin-left: var(--space-md);
}

.mar-t-lg {
    margin-top: var(--space-lg);
}
.mar-r-lg {
    margin-right: var(--space-lg);
}
.mar-b-lg {
    margin-bottom: var(--space-lg);
}
.mar-l-lg {
    margin-left: var(--space-lg);
}

.mar-box-sm {
    margin: var(--space-sm);
}
.mar-box-md {
    margin: var(--space-md);
}
.mar-box-lg {
    margin: var(--space-lg);
}

.display-true {
	display: block;
}
.display-false {
    display: none;
}
