@font-face {
    font-family: fancyfont;
    src: url(../fonts/SignPainter-HouseScript.ttf);
}

body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #555;
	background: #FAFAFA;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
a {
	color: #50E3C2;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #50E3C2;
}
a.secondary {
    color: #498FE3;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.spacer {
	display: block;
	padding: 10px;
}

.pad-t-sm {
    padding-top: 10px;
}
.pad-r-sm {
    padding-right: 10px;
}
.pad-b-sm {
    padding-bottom: 10px;
}
.pad-l-sm {
    padding-left: 10px;
}

.pad-t-md {
    padding-top: 20px;
}
.pad-r-md {
    padding-right: 20px;
}
.pad-b-md {
    padding-bottom: 20px;
}
.pad-l-md {
    padding-left: 20px;
}

.pad-t-lg {
    padding-top: 40px;
}
.pad-r-lg {
    padding-right: 40px;
}
.pad-b-lg {
    padding-bottom: 40px;
}
.pad-l-lg {
    padding-left: 40px;
}

.pad-box-sm {
    padding: 10px;
}
.pad-box-md {
    padding: 20px;
}
.pad-box-lg {
    padding: 40px;
}

.display-true {
	display: block;
}
.display-false {
    display: none;
}


/* BEGIN Form Styles */
.error {
    color: #e55;
}

.form-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0px -1px 1px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 10px;
}

.btn {
    border-radius: 0;   
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,.2);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,.2);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
    font-size: 24px;
    line-height: 30px; 
    margin: 5px auto;
}
.btn-primary {
    color: #fff;
    background-color: #50E3C2;
    border: 1px solid #48ccae;
}
.btn-primary:hover {
    background-color: #61e5c8;
    border: 1px solid #50E3C2;
}
.btn-wide {
    width: 100%;
}
.btn-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 0;
    border: 1px solid #999;
}
/* END Form Styles */


