@import url("variables.less");

/* -- Admin Header -- */
.admin-header {
	z-index: 3000;
	h2 {
		display: inline-block;
	}
	.thematic-title {
		font-size: 3.6rem;
	}
}
.thematic-title {
	font-family: fancyfont;
}

/* -- Admin Nav -- */
.admin-side-nav-main-hidden {
	display: none;
}
.admin-side-nav {
	width: 300px;
	position: absolute;
	top: 0;
	right: 0;
	box-shadow: @drop-6;
	background: white;
	color: @grey-2;
	z-index: 4000;
}
.admin-cancel {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.admin-side-nav-image {
	width: 340px;
}
.admin-nav-items li:hover {
	background: @grey-6;
	border-left: 5px solid @primary;
	cursor: pointer;
}
.admin-nav-items span {
	width: 20px;
	height: 100%;
}
.admin-nav-sub-items {
	padding-left: 65px;
}

/* -- Admin Time Line -- */
.timeline-nav {
	text-align: right;
	margin-right: 10%;
	cursor: pointer;
} 
.timeline-nav li {
	display: inline-block;
}
.timeline-nav li:hover {
	color: @primary;
}

/* -- Admin Dashboard -- */
.admin-dashboard {
	width: 940px;
	margin: 40px auto;
}
.admin-dashboard-box {
	width: 430px;
	height: 160px;
	margin: 20px;
	border-radius: 0.05rem;
	box-shadow: @drop-4;
}
.admin-dashboard-box .icon {
	margin: 15px 20px 15px 10px;
}
.admin-dashboard-box .stats {
	font-size: 3em;
}
.admin-dashboard-box .title {
	font-family: @font-reg;
	white-space: nowrap;
	font-size: 2em;
}
.large-toolbox-text {
	font-size: 2.65em;
	white-space: nowrap;
	text-align: center;
	margin: @space-lg 0;
}
/*-- Admin data pages (new submissions, creators, artists) --*/
.admin-data-pages-title {
	margin-left: 150px;
}
.top-title {
	margin-top: -30px;
}
.admin-data-pages-export-link {
	float: right;
	margin-right: 10%;
	font-family: @font-reg;
}
.admin-table {
	width: 80%;
	margin: 0 10%;
}
.admin-table span {
	cursor: pointer;
}
.admin-table-header th {
	padding-bottom: 2.25%;
	border-bottom: 2px solid @grey-5
}
.admin-table-body tr {
	color: @grey-2;
}
.img-box img {
}
/*-- Admin Chart --*/
.admin-chart {
	margin: 5% 10%;
}
