@import url("variables.less");
/* -- Admin Header -- */
.admin-header {
	z-index: 3000;
	h2 {
		display: inline-block;
	}
	.thematic-title {
		font-size: 3.6rem;
	}
}
.thematic-title {
	font-family: fancyfont;
}

/* -- Admin Dashboard -- */
.admin-dash-bottom {
	padding: 0 10%;
}
.timeline-nav {
	margin-left: 60%; 
	li {
		display: inline-block;
	}
	li:hover {
		color: @primary;
	}
}
.admin-dashboard-box {
	width: 40%;
	height: 160px;
	margin: 2.5% 4%;
	border-radius: 0.05rem;
	box-shadow: @drop-4;
	.stats {
		font-size: 4rem;
	}
	.title {
		font-family: @font-reg
	}
}
.large-toolbox-text {
	font-size: 4rem;
	text-align: center;
	margin-top: 9%;
}
