@import url("variables.less");

.footer-wrapper {
  width: 100%;
  z-index: 3000;
  position: relative;
  background-color: @grey-1;
  display: inline-block;
  right: 0;
  left: 0;
  color: white;

  li {
    display: inline-block;
    padding: 15px; 
  }
  a {
    color: white;
  }
}
.footer-links {
	float: right !important;
}