@import url("variables.less");

/* BEGIN Form Styles */
.error {
    color: #e55;
}

.form-input, input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc; 
    -moz-box-shadow: @drop-3;
    -webkit-box-shadow: @drop-3;
    box-shadow: @drop-3;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 10px;
}
textarea.form-input {
    height: 120px;
    padding: 20px;
}

.btn {
    -webkit-border-radius: @bd-rad-sm;
    -moz-border-radius: @bd-rad-sm;
    border-radius: @bd-rad-sm;   
    -moz-box-shadow: @drop-2;
    -webkit-box-shadow: @drop-2;
    box-shadow: @drop-2;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
    font-size: 24px;
    line-height: 30px; 
    margin: 5px auto;
}
.btn-primary {
    color: #fff;
    padding: 10px;
    background-color: @primary;
    border: none;
    -moz-box-shadow: @drop-2;
    -webkit-box-shadow: @drop-2;
    box-shadow: @drop-2;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: @primary-lt;
    border: none;
    outline: none;
}
.btn-sm {
    font-size: 18px;
    line-height: 22px;
    padding: 6px 10px;
}
.btn-wide {
    width: 100%;
}
.btn-circle {
    -webkit-border-radius: @bd-rad-circle;
    -moz-border-radius: @bd-rad-circle;
    border-radius: @bd-rad-circle;
    padding: 0;
    cursor: pointer;
}
.btn [class^="icon-"]:before, .btn [class*=" icon-"]:before {
    margin: 0;
}
/* END Form Styles */


