@import url("variables.less");

.library-filter ul {
  max-width: 500px;
  display: inline-block;
}
.library-filter li {
  display: inline-block;
  padding-right: 30px;
  font-family: @font-reg;
}
  .library-filter h4:hover {
    border-bottom: 2px solid @primary;
  }
  .btn-wrapper {
    display: inline-block;
  }
.library-result-table h4 {
  font-family: @font-reg;
  display: inline-block;
}
.library-result-head {
  border-bottom: 1px solid @grey-4;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.library-result-table table thead {
  border-bottom: 1px solid @grey-4;
}
.library-result-table table th {
  padding-bottom: @space-md;
}
.img-td {
  padding: 10px 0;
}