@import url("variables.less");

body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: @grey-1;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1, .h1 {
    color: @white;
    font-family: @font-reg;
    font-style: italic;
    font-size: 80px;
    filter: @drop-1;
    -webkit-filter: @drop-1;
}
h3 {
    font-family: @font-reg;
}
h2, .h2 {
    font-size: 36px;
}
h6, .h6 {
    font-weight: normal;
}

a {
	color: @primary;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.italic {
    font-style: italic;
}
.spacer {
	display: block;
	padding: 10px;
}

.pad-t-sm {
    padding-top: @space-sm;
}
.pad-r-sm {
    padding-right: @space-sm;
}
.pad-b-sm {
    padding-bottom: @space-sm;
}
.pad-l-sm {
    padding-left: @space-sm;
}

.pad-t-md {
    padding-top: @space-md;
}
.pad-r-md {
    padding-right: @space-md;
}
.pad-b-md {
    padding-bottom: @space-md;
}
.pad-l-md {
    padding-left: @space-md;
}

.pad-t-lg {
    padding-top: @space-lg;
}
.pad-r-lg {
    padding-right: @space-lg;
}
.pad-b-lg {
    padding-bottom: @space-lg;
}
.pad-l-lg {
    padding-left: @space-lg;
}

.pad-box-sm {
    padding: @space-sm;
}
.pad-box-md {
    padding: @space-md;
}
.pad-box-lg {
    padding: @space-lg;
}

.mar-t-sm {
    margin-top: @space-sm;
}
.mar-r-sm {
    margin-right: @space-sm;
}
.mar-b-sm {
    margin-bottom: @space-sm;
}
.mar-l-sm {
    margin-left: @space-sm;
}

.mar-t-md {
    margin-top: @space-md;
}
.mar-r-md {
    margin-right: @space-md;
}
.mar-b-md {
    margin-bottom: @space-md;
}
.mar-l-md {
    margin-left: @space-md;
}

.mar-t-lg {
    margin-top: @space-lg;
}
.mar-r-lg {
    margin-right: @space-lg;
}
.mar-b-lg {
    margin-bottom: @space-lg;
}
.mar-l-lg {
    margin-left: @space-lg;
}

.mar-box-sm {
    margin: @space-sm;
}
.mar-box-md {
    margin: @space-md;
}
.mar-box-lg {
    margin: @space-lg;
}

.display-true {
	display: block;
}
.display-inlb {
    display: inline-block;
}
.display-false {
    display: none;
}
.primary {
    color: @primary;
}
.divider {
    border-bottom: 1px solid @grey-5;
    margin: 40px -40px 40px;
    width: ~"calc(100% + 80px)";
}
.color-white {
    color: white;
}
.color-grey {
   color: @grey-2; 
}
.content, .content-with-sidebar  {
    height: 100%;
    width: 100%;
    padding: 50px 30px 40px 70px;
    background: @white;
    display: inline-block;
}
.content-with-sidebar {
    // float: left;
    margin-left: 250px;
    width: ~"calc(100% - 260px)";
    min-height: 854px;
}
/* -- Commented out to fix issues with sidebar on artist library home -- */
// .sidebar {
//     width: 260px;
//     // float: left;
//     padding: 20px;
//     display: inline-block;
//     // position: absolute;
// }

.table.no-borders td {
    border: none;
}
.row.no-gutters, .row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.profile-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: block;
    margin: auto;
    -moz-box-shadow: @drop-4;
    -webkit-box-shadow: @drop-4;
    box-shadow: @drop-4;
}
.profile-img img {
    width: 100%;
    height: 100%;
}
.red {
  color: #FF3547;
}
.mobile-img-thumbnail {
  height: 75px;
  width: 75px;
  vertical-align: top;
}