.artist-search-wrapper {
  background-color: #F9F9F9;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -99;
}
.artist-search-side-bar-wrapper {
  position: relative;
  margin-top: 50px;
}
.artist-search-tags {
  background-color: #50E3C2;
  color: white;
  padding: 10px 15px;
  font-family: 'roboto-light';
  margin: 10px;
  border-radius: 0px;
}
.artist-search-tags-list li {
  text-align: left;
}
.artist-search-table-wrapper {
  color: #9B9B9B;
  font-family: 'roboto-light';
  padding: 50px 50px;
  height: 100%;
  background-color: white;
}
.artist-search-table-wrapper td {
  padding: 15px 0;
  border-bottom: 1px solid lightgrey;
  text-align: left;
}
.artist-search-album-detail {
  margin-top: 25px;
  margin-left: 20px;
  padding-left: 0;
}
.artist-search-album-img  {
  width: 100px;
  padding: 0 15px 0 0;
  margin-left: 15px;
}
.artist-search-table-header-items h4 {
    margin: 10px 0 30px;
}
.artist-search-mobile-view-wrapper {
  margin-top: 40px;
  position: absolute;
  display: none;
}
/*mobile*/
@media (max-width: 767px) {
  .artist-search-table-wrapper {
    display: none;
  }
  .artist-search-tags h3 {
    font-size: 10px;
  }
  .artist-search-tags-list li {
    display: inline-block;
  }
  .artist-search-tags {
    margin: 3px;
  }
  .artist-search-mobile-view-wrapper {
    display: block;
    background-color: white;
  }
  .artist-search-mobile-view-wrapper li {
    border-bottom: 1px solid lightgrey;
    padding: 15px 0;
  }
  .artist-search-mobile-view-wrapper h4{
    margin-bottom: 8px;
  }
  .artist-search-mobile-items p {
    line-height: 10px;
  }
  .artist-search-mobile-view-detail {
    text-align: left;
  }
  .artist-search-mobile-view-rating {
    text-align: left;
    margin-left: -15px;
  }
  .artist-search-album-mobile-img  {
    width: 100px;
    padding: 0 15px 0 0;
    margin-left: -15px;
  }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  .artist-search-tags h3 {
    font-size: 15px;
  }
  .artist-search-album-detail {
    margin-top: 5px;
  }
}
@media (min-width: 992px ) and (max-width: 1199px) {
  .artist-search-album-detail {
    margin-top: 5px;
  }
}

